.EditUser {
	background: white;
	height: 66vh;
	width: 18vw;
	position: absolute;
	left: 80vw;
	top: 3vh;
	-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
	-webkit-animation: appear 0.8s;
	animation: appear 0.5s;
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	padding: 1vw;
}

@-webkit-keyframes appear {
	from {
		opacity: 0;
		top: 6vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}

@-moz-keyframes appear {
	from {
		opacity: 0;
		top: 6vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}
@keyframes appear {
	from {
		opacity: 0;
		top: 6vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}

.EditUser-Form h3.Form-Heading {
	margin: 0 1vw 2vh 0;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	color: rgb(106, 0, 111);
	font-weight: 200;
	text-align: center;
}

.EditUser-Form .Form .Save  button.ui.button {
	background: rgb(11, 97, 53);
	border-radius: 0;
	font-size: 1.2vw;
	margin-top: 4.1vh;
	color: rgba(245, 245, 245, 0.7);
	font-family: 'Roboto';
	font-weight: 500;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 1px solid #0e691d;
	transition: all 0.1s;
	position: absolute;
	left: 8.9vw;
}

.EditUser-Form .Form .Delete  button.ui.button {
	background: rgb(167, 29, 14);
	border-radius: 0;
	font-size: 1.2vw;
	margin-top: 4.1vh;
	color: rgba(245, 245, 245, 0.7);
	font-family: 'Roboto';
	font-weight: 500;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 1px solid #690e0e;
	transition: all 0.1s;
	position: absolute;
	left: 0vw;
}

.EditUser-Form .ui .form {
	height: 37vh;
	position: relative;
	top: 3vh;
}

.EditUser-Form .ui.form .fields {
	display: flex;
	flex-direction: column;
}

.EditUser-Form .Form .ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
	width: auto;
	height: 4.7vh;
	margin: 0.6vh;
	background: rgba(0, 0, 0, 0.17);
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 0.9vw;
	border-radius: 0;
}

.EditUser-Form .Form .ui.form .field:last-child,
.ui.form .fields:last-child .field {
	margin-bottom: 0;
	text-align: center;
}

/* .EditUser-Form button.ui.button,
button.ui.button:active,
button.ui.button:focus {
	background-color: rgba(144, 17, 42, 0.4);
	color: rgba(255, 255, 255, .9);
} */

/* .EditUser-Form button.ui.button,
button.ui.button:active,
button.ui.button:hover {
	background-color: rgba(159, 1, 110, 0.6);
	color: rgba(255, 255, 255, .9);
} */

.EditUser-Form .ui.form input:not([type]):focus,
.EditUser-Form .ui.form input[type=text]:focus,
.EditUser-Form .ui.form input[type=email]:focus,
.EditUser-Form .ui.form input[type=search]:focus,
.EditUser-Form .ui.form input[type=password]:focus,
.EditUser-Form .ui.form input[type=date]:focus,
.EditUser-Form .ui.form input[type=datetime-local]:focus,
.EditUser-Form .ui.form input[type=tel]:focus,
.EditUser-Form .ui.form input[type=time]:focus,
.EditUser-Form .ui.form input[type=file]:focus,
.EditUser-Form .ui.form input[type=url]:focus,
.EditUser-Form .ui.form input[type=number]:focus {
	border: 1px solid #c493ea;
}

.EditUser-Form .ui.form input:not([type])::selection,
.EditUser-Form .ui.form input[type=text]::selection,
.EditUser-Form .ui.form input[type=email]::selection,
.EditUser-Form .ui.form input[type=search]::selection,
.EditUser-Form .ui.form input[type=password]::selection,
.EditUser-Form .ui.form input[type=date]::selection,
.EditUser-Form .ui.form input[type=datetime-local]::selection,
.EditUser-Form .ui.form input[type=tel]::selection,
.EditUser-Form .ui.form input[type=time]::selection,
.EditUser-Form .ui.form input[type=file]::selection,
.EditUser-Form .ui.form input[type=url]::selection,
.EditUser-Form .ui.form input[type=number]::selection {
	background: rgba(0, 0, 0, 0.8);
	color: whitesmoke;
}
.EditUser-Form .ui.form input:not([type])::placeholder,
.EditUser-Form .ui.form input[type=text]::placeholder,
.EditUser-Form .ui.form input[type=email]::placeholder,
.EditUser-Form .ui.form input[type=search]::placeholder,
.EditUser-Form .ui.form input[type=password]::placeholder,
.EditUser-Form .ui.form input[type=date]::placeholder,
.EditUser-Form .ui.form input[type=datetime-local]::placeholder,
.EditUser-Form .ui.form input[type=tel]::placeholder,
.EditUser-Form .ui.form input[type=time]::placeholder,
.EditUser-Form .ui.form input[type=file]::placeholder,
.EditUser-Form .ui.form input[type=url]::placeholder,
.EditUser-Form .ui.form input[type=number]::placeholder {
	color: rgba(75, 2, 64, 0.8);
}

/* Styling checkboxes */

.EditUser-Form .Checkboxes {
	display: flex;
	flex-direction: row;
	margin-top: 1vh;
}

.EditUser-Form .root_79db315f {
	box-sizing: border-box;
	font-family: 'Roboto';
	min-height: 36px;
	position: relative;
	flex-basis: 50%;
	margin: 0px 1.5vw;
}

.EditUser-Form .textLabel_79db315f {
	color: #44094e;
	font-size: 0.9vw;
	font-weight: 200;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.EditUser-Form .root_79db315f:hover .textLabel_79db315f {
	color: #44094e;
}

@-webkit-keyframes comeIn {
	from {
		opacity: 0;
		top: 7vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}

@-moz-keyframes comeIn {
	from {
		opacity: 0;
		top: 7vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}

@keyframes comeIn {
	from {
		opacity: 0;
		top: 7vh;
	}
	to {
		opacity: 1;
		top: 3vh;
	}
}

/* Styling response box */

.EditUser .response-box {
    width: 18vw;
    height: 20vh;
    position: absolute;
    top: 65vh;
    left: 0vw;
    opacity: 0;
}

.EditUser .response-success {
	background: rgba(21, 93, 0, 0.75);
	border-top: 1px solid rgba(255, 255, 255, 0.35);
	-webkit-animation: responseComeIn 0.3s ease-out;
	animation: responseComeIn 0.3s ease-out;
	opacity: 1;
}

.EditUser .response-failed {
	background: rgba(140, 24, 24, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.19);
	-webkit-animation: responseComeIn 0.3s ease-out;
	animation: responseComeIn 0.3s ease-out;
	opacity: 1;
}

@-webkit-keyframes responseComeIn {
	from {
		opacity: 0;
		top: 68vh;
	}
	to {
		opacity: 1;
		top: 65vh;
	}
}

@-moz-keyframes responseComeIn {
	from {
		opacity: 0;
		top: 68vh;
	}
	to {
		opacity: 1;
		top: 65vh;
	}
}

@keyframes responseComeIn {
	from {
		opacity: 0;
		top: 68vh;
	}
	to {
		opacity: 1;
		top: 65vh;
	}
}
