@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400');

/* Huge  container which contains everything */

.Login-Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../assets/img/login-wallpaper.jpg");
}


/* Small wrapper that wraps up login and sign up forms */

.LoginWrapper {
    background: rgba(0, 0, 0, 0.3);
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 20vw;
    display: flex;
}


/* Styling login and register halves */


/* Login styles */

.Login {
    flex-basis: 60%;
    border-right: none;
    background: rgb(46, 40, 44);
    color: rgb(218, 215, 216);
}

.Login-content-wrapper {
    padding: 20px;
}

.Login-content-wrapper h1,
.Login-content-wrapper h2 {
    text-align: left;
    font-size: 3vw;
    font-family: 'Roboto';
    font-weight: 200;
}

.Login-content-wrapper h3,
.Login-content-wrapper h4 {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 100;
    margin-top: 0;
    color: #BBB;
}


/* Login form styles to override semantic UI's default ones */

input[type="text"],
input[type="password"] {
    background: rgb(85, 78, 85) !important;
    color: rgba(245, 245, 245, 0.93) !important;
    font-family: 'Roboto' !important;
    font-weight: 100;
    border-radius: 0 !important;
    margin: 0 !important;
    width: 30vw;
    font-size: 1.5vw;
}

input[type="text"]::selection,
input[type="password"]::selection {
    background: rgba(0, 0, 0, 0.4);
    /* WebKit/Blink Browsers */
    color: whitesmoke;
}

input[type="text"]::selection,
input[type="password"]::selection {
    background: rgba(0, 0, 0, 0.4);
    /* Gecko Browsers */
    color: whitesmoke;
}

i.user.icon {
    color: rgba(255, 255, 255, 0.79) !important;
}

i.lock.icon {
    color: rgba(255, 255, 255, 0.79) !important;
}


/* Button stylings */

button.ui.button,
button.ui.button:active,
button.ui.button:focus {
    background-color: rgb(232, 84, 58);
    color: rgba(255, 255, 255, .9);
}

button.ui.button:hover {
    background-color: rgba(183, 54, 54, 0.89);
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    color: rgba(255, 255, 255, 0.8);
}

button.ui.button:active {
    transform: translate3d(5px, 5px, 0px);
}

button.ui.button {
    background: rgb(232, 84, 58);
    border-radius: 0;
    font-size: 1.4vw;
    color: rgba(245, 245, 245, 0.7);
    margin-top: 5vh;
    font-family: 'Roboto';
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.Register {
    flex-basis: 40%;
    background: rgb(232, 84, 58);
    color: whitesmoke;
}
