.Logout {
    position: absolute;
    z-index: 1;
    top: 0vh;
    right: 0vw;
    padding: 0.5vw;
    color: whitesmoke;
    background: black;
    border: 1px solid black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1vw;
    height: 3vw;
}

.Logout:focus, .Logout:hover {
	background: #000;
}